<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title></title>

</head>

<body>
  <div>
    {% for cate in navs %}
    <a href="/category/{{ cate.id }}/">{{ cate.name }}</a>
    {% endfor %}
  </div>
  <hr>

  {% if tag %}
  标签页：{{ tag.name }}
  {% endif %}

  {% if category %}
  分类页：{{ category.name }}
  {% endif %}

  <ul>
    {% for post in post_list %}
    <li>
      <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
      <div>
        <span>作者：{{ post.owner.username }}</span>
        <span>分类：{{ post.category.name }}</span>
      </div>
      <p>{{ post.desc }}</p>
    </li>
    {% endfor %}
  </ul>

  <hr>
  <div>
    {% for cate in categories %}
    <a href="/category/{{ cate.id }}/">{{ cate.name }}</a>
    {% endfor %}
  </div>
</body>

</html>
