{% extends 'base_detail_list.html' %}

{% block title %}天天生鲜-搜索结果列表{% endblock title %}

{% block main_content %}

    <div class="breadcrumb">
        <a href="#">{{ query }}</a>
        <span>></span>
        <a href="#">搜索结果如下：</a>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
{#            <div class="new_goods">#}
{#                <h3>新品推荐</h3>#}
{#                <ul>#}
{#                    {% for foo in new_skus %}#}
{#                        <li>#}
{#                            <a href="{% url 'goods:detail' foo.id %}"><img src="{{ foo.image.url }}"></a>#}
{#                            <h4><a href="{% url 'goods:detail' foo.id %}">{{ foo.name }}</a></h4>#}
{#                            <div class="prize">￥{{ foo.price }}</div>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
        </div>

{#        <div class="r_wrap fr clearfix">#}
{#            <div class="sort_bar">#}
{#                <a href="{% url 'goods:list' type.id 1 %}" {% if sort == 'default' %}class="active"{% endif %}>默认</a>#}
{#                <a href="{% url 'goods:list' type.id 1 %}?sort=price" {% if sort == 'price' %}class="active"{% endif %} >价格</a>#}
{#                <a href="{% url 'goods:list' type.id 1 %}?sort=hot" {% if sort == 'hot' %}class="active"{% endif %}>人气</a>#}
{#            </div>#}

            <ul class="goods_type_list clearfix">
                {% for foo in page %}
                    <li>
                        <a href="{% url 'goods:detail' foo.object.id %}"><img src="{{ foo.object.image.url }}"></a>
                        <h4><a href="{% url 'goods:detail' foo.object.id %} ">{{ foo.object.name }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ foo.object.price }}</span>
                            <span class="unit">{{ foo.object.price }}/{{ foo.object.unite }}</span>
                            <a href="#" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <div class="pagenation">
                {% if page.has_previous %}
                    <a href="/search?q={{ query }}&page={{ page.previous_page_number }}">&lt;上一页</a>
                {% endif %}

                {% for foo in paginator.page_range %}
                    {% if foo == page.number %}
                        <a href="/search?q={{ query }}&page={{ foo }}" class="active">{{ foo }}</a>
                    {% else %}
                        <a href="/search?q={{ query }}&page={{ foo }}">{{ foo }}</a>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <a href="/search?q={{ query }}&page={{ page.next_page_number }}">下一页&gt;</a>
                {% endif %}
            </div>
{#        </div>#}
    </div>

{% endblock main_content %}